*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #cb1117;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
  
#header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 50px;
    color: rgba(196, 167, 1, 0.587);
    letter-spacing: 7px;
    font-family: brush script mt, cursive;
    margin-top: 15px;
}

.offset {
  font-size: 25px;
  padding: 0 35px;
  color: rgb(212, 180, 1);
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  font-style: italic;
  margin-top: -2px;
}

#sketch-canvas {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 900px;
    height: 600px;
    margin: 0 auto;
    border: 6px solid rgba(211, 207, 207, 0.738);
    background-color: rgb(211, 207, 207);
    border-radius: 20px;
}
  
.grid-item {
    width: 100%;
    /* transition: background-color 1s; */
  }

  #buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
  }

  .header-button {
    text-align: center;
    padding: 15px;
    transition: all .4s;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.209);
    font-size: 14px;
    background-color: #9824288a;
    font-weight: 600;
    color: rgb(212, 180, 1);
    margin-bottom: 15px;
  }

  .header-button:hover {
    transform: scale(1.2);
    border: 2px dotted rgb(211, 207, 207);
  }


